<!--{widget}-->
<div id="{i#id}" class="authorlist">
	<div id="{i#loading}" class="loading">
		<img src="/images/loading.gif" /> Идет загрузка данных <br /> Пожалуйста, подождите...
	</div>
	
	<div id="{i#nullitem}" class="nullitem" style="display: none">
		Список не найден, возможно недостаточно прав для его просмотра
	</div>

	<div id="{i#list}" class="list"></div>
</div>

<!--{row}-->
<div id="{v#id}" class="author aw-uprofile">

	<a href="#" class="avtr tmb tmb90 show-user-profile user-{v#uid}">
		<span class="tmbpre">{v#avatar}</span>
	</a>
	
	<a href="#" class="username show-user-profile user-{v#uid}">{v#unm}</a>
	
	<div class="stat">
		<a href="{v#urlview}">топиков: {v#topics}</a>
	</div>
	<div class="clear"></div>
</div>


<!--{view}-->
<div id="{i#id}" class="authorview">

	<div id="{i#loading}" class="loading">
		<img src="/images/loading.gif" /> Идет загрузка данных <br /> Пожалуйста, подождите...
	</div>

	<div id="{i#nullitem}" class="nullitem" style="display: none">
		Блог не найден или недостаточно прав для его просмотра
	</div>

	<div id="{i#view}" style="display: none">
	
		<div id="{i#author}"></div>
	
		<div id="{i#toplist}"></div>
	</div>
</div>
