<!--{widget}-->
<div id="{i#id}" class='aw-blog-bosonline aw-blog'>
	<div class="onlhd">
		<a href="#app=blog/wspace/ws" title="{#mod.blog.bosonline.widget.1}">
			{#mod.blog.bosonline.widget.2}
		</a> 
		{v#rss}
	</div>
	
	<div id="{i#box}">
		<div id="{i#loading}" class="loading">
			<img src="/images/loading.gif" /> Идет загрузка данных <br /> Пожалуйста, подождите...
		</div>
	</div>
</div>

<!--{rss}-->
<a class="onlrss" target="_blank" title="{#mod.blog.bosonline.rss.1}" href="/rss/bos/blog/">
	<img src="/modules/rss/images/rss-icon-16px-op50.gif">
</a>
