<!--{comments}-->
<div id="{i#id}" class="commentlivebox blockbox">
	<div class="boxtl">
		<a href="#" title="Весь эфир">Прямой эфир</a>
	</div>
	
	<img id="{i#loading}" class="bloading" src="/images/loading.gif" />

	<div id="{i#list}" class="list"></div>
</div>

<!--{cmtlist}-->
<ul id="{i#list}">{v#rows}</ul>

<!--{cmtrow}-->
<li>
	<a href="#" class="user show-user-profile user-{v#uid}" title="{v#unm}">{v#login}</a>
	<a href="{v#urlcat}" class="category">{v#cattl}</a>
	&nbsp;→&nbsp; 
	<a href="{v#urlcmt}" class="topic">{v#toptl}</a>
	<a href="{v#urlcmt}" class="comments">({v#cmtcnt})</a>
</li>

<!--{topics}-->
<div id="{i#id}" class="topiclistbox blockbox">
	<div class="boxtl">
		<a href="#" title="Записи в блоге">Записи в блоге</a>
	</div>
	
	<img id="{i#loading}" class="bloading" src="/images/loading.gif" />

	<div id="{i#list}" class="list"></div>
</div>

<!--{toplist}-->
<ul id="{i#list}">{v#rows}</ul>

<!--{toprow}-->
<li>
	<a href="{v#urlcat}" class="category">{v#cattl}</a>
	&nbsp;→&nbsp; 
	<a href="{v#urltop}" class="topic">{v#toptl}</a>
</li>

<!--{tags}-->
<div id="{i#id}" class="taglistbox blockbox">
	<div class="boxtl">
		<a href="#">Теги</a>
	</div>
	
	<img id="{i#loading}" class="bloading" src="/images/loading.gif" />

	<div id="{i#list}" class="list"></div>
</div>

<!--{taglist}-->
<ul id="{i#list}">{v#rows}</ul>

<!--{tagrow}-->
<li>
	<a href="{v#urltag}" class="tag sz-{v#sz}">{v#tagtl}</a>
</li>

<!--{cats}-->
<div id="{i#id}" class="catlistbox blockbox">
	<div class="boxtl">
		<a href="#" title="Популярные блоги">Блоги</a>
	</div>
	
	<img id="{i#loading}" class="bloading" src="/images/loading.gif" />

	<div id="{i#list}" class="list"></div>
</div>

<!--{catlist}-->
<ul id="{i#list}">{v#rows}</ul>

<!--{catrow}-->
<li>
	<a href="{v#urlcat}" class="category">{v#cattl}</a>
	<span>{v#rtg}</span>
</li>
