.aw-blog .clear {
  clear: both;
}

.aw-blog .loading,
.aw-blog .nullitem {
  text-align: center;
  padding: 70px 0;
}

/* * * * * * AHref Button * * * * */
.aw-blog a.habtn {
  border-bottom: 1px dotted;
  text-decoration: none;
  margin: 0 5px;
}

.aw-blog a.warn {
  color: #DA4242;
}

/* * * * Превьюшки * * * * */
.aw-blog .tmb24 {
  width: 24px;
  height: 24px;
}

.aw-blog .tmb24 img {
  max-width: 24px;
  max-height: 24px;
}

.aw-blog .tmb {
  display: table;
}

.aw-blog .tmb .tmbpre {
  display: table-cell;
  vertical-align: middle;
}

.aw-blog .tmb .tmbpre img {
  display: block;
  margin: 0 auto;
}

/* * * * * * * * * * Editor Form * * * * * * * */
.aw-blog .editform {
  padding: 10px 0;
  background-color: #F9F5DF;
}

.aw-blog .editform .dsc,
.aw-blog .viewform .dsc {
  color: #555555;
  font-size: .9em;
  /* width: 400px; /**/
}

.aw-blog .editform h3,
.aw-blog .viewform h3 {
  color: #333333;
  font-size: 1.28em;
  font-weight: bold;
  padding-bottom: 0.5em;

  font-weight: normal !important;
}

.aw-blog .editform h4,
.aw-blog .viewform h4 {
  margin-bottom: 10px;
  font-weight: bold;
}

.aw-blog .editform .group,
.aw-blog .viewform .group {
  margin: 0 20px;
  border-bottom: 1px solid #E3E3D7;
  margin-bottom: 1em;
  padding-bottom: .8em;
}

.aw-blog .editform .fieldline {
  margin-bottom: 10px;
}

.aw-blog .editform dl,
.aw-blog .viewform dl {
  margin: 0 0 0.3em;
  padding: 0;
  clear: both;
}

.aw-blog .editform dt,
.aw-blog .viewform dt {
  float: left;
  padding: 0.5em 0 0.5em 0;
  width: 12em;
}

.aw-blog .viewform dt {
  text-align: right;
  color: #999999;
}

.aw-blog .editform dd,
.aw-blog .viewform dd {
  float: none;
  margin-left: 13em;
  padding: 0.5em 0;
}

.aw-blog .editform p {
  margin: 5px 0 7px;
}

.aw-blog .editform input.inp,
.aw-blog .editform select.inp,
.aw-blog .editform textarea.inp {
  border: 1px solid #ACAEB4;
  border-radius: 3px 3px 3px 3px;
  line-height: 20px;
  padding: 3px;
  width: 400px;
}

.aw-blog .editform select.inp {
  width: 407px;
}

.aw-blog .editform textarea.inp {
  height: 100px;
}

.aw-blog .editform .baction {
  margin-top: 10px;
  margin-right: 2em;
}

.aw-blog .editform .baction input {
  margin-right: 10px;
  padding: 2px 5px;
}

.aw-blog .editform .baction .error {
  color: red;
  margin-right: 10px;
}