<!--{widget}-->
<div id="{i#id}" class="tagview">

	<div id="{i#loading}" class="loading">
		<img src="/images/loading.gif" /> Идет загрузка данных <br /> Пожалуйста, подождите...
	</div>

	<div id="{i#view}" style="display: none">
		
		<input id="{i#tag}" class="taginput" type="text" onfocus="this.select();" />
		
		<div id="{i#list}"></div>
	</div>
</div>