<!--{homelist}-->
<div id="{i#id}" class="homelist">

	<div id="{i#loading}" class="loading">
		<img src="/images/loading.gif" /> Идет загрузка данных <br /> Пожалуйста, подождите...
	</div>

	<div id="{i#view}" style="display: none">
	
		<ul id="{i#sm}" class="submenu" style="display: none">
			<li id="{i#smi}">
				<a href="{v#url}">Интересные</a>
			</li>
			<li id="{i#sminew}">
				<a href="{v#urlnew}">Новые</a>
				<a href="{v#urlnew}" class="new" id="{i#sminewb}"></a>
			</li>
			<li class="clear">&nbsp;</li>
		</ul>

		<ul id="{i#smpub}" class="submenu" style="display: none">
			<li id="{i#smipub}">
				<a href="{v#urlpub}" >Интересные</a>
			</li>
			<li id="{i#smipubnew}">
				<a href="{v#urlpubnew}">Новые</a>
				<a href="{v#urlpubnew}" id="{i#smipubnewb}" class="new"></a>
			</li>
			<li class="clear">&nbsp;</li>
		</ul>
	
		<ul id="{i#smpers}" class="submenu" style="display: none">
			<li id="{i#smipers}">
				<a href="{v#urlpers}">Хорошие</a>
			</li>
			<li id="{i#smipersnew}">
				<a href="{v#urlpersnew}">Новые</a>
				<a href="{v#urlpersnew}" id="{i#smipersnewb}" class="new"></a>
			</li>
			<li class="clear">&nbsp;</li>
		</ul>
	
		<div class="clear"></div>
		
		<div id="{i#list}"></div>
	</div>
</div>

<!--{topiclist}-->
<div id="{i#id}" class="topiclist">

	<div id="{i#loading}" class="loading">
		<img src="/images/loading.gif" /> Идет загрузка данных <br /> Пожалуйста, подождите...
	</div>

	<div id="{i#list}"></div>
	<div id="{i#next}"></div>
</div>

<!--{topicview}-->
<div id="{i#id}" class="topicview">

	<div id="{i#loading}" class="loading">
		<img src="/images/loading.gif" /> Идет загрузка данных <br /> Пожалуйста, подождите...
	</div>

	<div id="{i#nullitem}" class="nullitem" style="display: none">
		Запись в блоге не найдена или недостаточно прав для ее просмотра
	</div>

	<div id="{i#view}"></div>
</div>

<!--{row}-->
<div id="{i#id}" class="topic">
	<div id="{i#tlcont}" class="title">
		<a id="{i#cattl}" href="{v#urlcat}" class="cattl"></a>
		&nbsp;→&nbsp;
		<a id="{i#tl}" href="{v#urlview}" class="toptl"></a>
	</div>
	
	<div id="{i#man}"></div>

	<div class="aw-page-content">
		<div id="{i#intro}" class="intro"></div>
		<div id="{i#body}" class="body"></div>
	</div>
	
	<div id="{i#readmore}" class="readmore">
		<a id="{i#bfull}" href="{v#urlview}">Читать дальше → </a>
	</div>

	<div id="{i#taglist}"></div>
	
	<div id="{i#info}"></div>
	
	<div id="{i#comments}"></div>
</div>

<!--{taglist}-->
<div id="{i#id}" class="taglist">
	<ul id="{i#list}"></ul>
	<div class="clear"></div>
</div>

<!--{tagrow}-->
<li>
	<a href="{v#url}">{v#tl}</a>
</li>

<!--{tagrowcm}-->
<li>, </li>

<!--{manbtns}-->
<div id="{i#manbtns}" class="topicmanbtns">
	<a href="{v#urledit}" class="habtn">Редактировать</a>
</div>

<!--{info}-->
<div id="{i#id}" class="topicinfo">
	<div class="tpinbox">
		<div id="{i#topicvote}" class="topicvote" style="display: none"></div>
		<div class="user">
			<a href="#" class="avtr tmb tmb24 show-user-profile user-{v#uid}">
				<span class="tmbpre">
					{v#avatar}
				</span>
			</a>
			<a title="автор текста" class="unm show-user-profile user-{v#uid}" href="#">{v#unm}</a>
		</div>
		<div class="date">{v#date}</div>
		<div class="comments" >
			<a href="#" title="Читать комментарии">комментарии ({v#cmt})</a>
		</div>
		<div id="{i#socialist}" class="socialist" style="display: none"></div>
	</div>
	<div class="clear"></div>
</div>
