<!--{next}-->
<div id="{i#id}" class="next" style="display: none">

	<div id="{i#b}" class="b">
		<img id="{i#loading}" class="bprc" src="/images/loading.gif" style="display: none" />
	
		<span id="{i#info}" class="in">
			<span>следующие</span>
			<span id="{i#limit}"></span>
			<span>из</span>
			<span id="{i#total}"></span>
		</span>
	</div>
</div>