<!--{widget}-->
<div id="{i#id}" class="write">
	
	<div id="{i#widget}"></div>
</div>

<!--{topic}-->
<div id="{i#id}" class="topiceditor">
	
	<div id="{i#loading}" class="loading">
		<img src="/images/loading.gif" /> Идет загрузка данных <br /> Пожалуйста, подождите...
	</div>
	
	<div id="{i#view}" class="editform {v#cledst}">
	
		<div class="group">
	
			<h3 class="edstnew">Создание топика</h3>
			<h3 class="edstedit">Редактирование топика</h3>

			<p>
				Опубликовать топик в блоге: 
			</p>

			<div id="{i#catsel}"></div>
		
			<dl>
				<dt>Заголовок:</dt>
				<dd>&nbsp;</dd>
			</dl>
			
			<input id="{i#title}" type="text" class="fldtitle" />
			<div class="dsc">Заголовок должен быть кратким и отражать содержание топика</div>

			<dl>
				<dt>Текст:</dt>
				<dd>
					&nbsp;
				</dd>
			</dl>
			<textarea id="{i#text}" class="fldtext" style="width: 670px; height: 350px;"></textarea>
			<div class="dsc">
				Если текст большой, его необходимо разделить добавив "Разрыв страницы". 
				Тогда первая часть текста будет отображаться анонсом в списке топиков, а уже 
				полный (оставшийся) текст будет доступен при просмотре топика 
			</div>
		
			<dl>
				<dt>Метки:</dt>
				<dd>&nbsp;</dd>
			</dl>
			
			<div class="tagsdiv">
				<input id="{i#tags}" type="text" class="fldtags" />
				<div id="{i#tagscont}" style="position: relative;"></div>
			</div>
			<div class="dsc">Метки необходимо разделять запятой</div>
			<div class="clear"></div>
			
			<div id="{i#admindex}" style="display: none" class="chkindex">
				<input id="{i#isindex}" type="checkbox" />
				<label for="{i#isindex}">Принудительно вывести на главную</label>
				<div class="dsc">
					Если включить эту настройку, то пост сразу попадет на главную 
					(а так же осуществится рассылка о новом топике подписчикам), 
					иначе, пост выйдет на главную только по набору необходимого рейтинга
				</div>
			</div>
		</div>
		
		<div class="group">
			<div class="baction">
				<div id="{i#btnsblock}">
					<div class="blft">
						<input id="{i#bpreview}" value="Предпросмотр" type="button" class="btn" />
						<input id="{i#bsavedraft}" value="Сохранить в черновиках" type="button" class="btn" />
					</div>
					<div class="brgt">
						<input id="{i#bcreate}" value="Опубликовать" type="button" class="btn edstnew" />
						<input id="{i#bsave}" value="Сохранить изменения" type="button" class="btn edstedit" />
						<input id="{i#bcancel}" value="Отмена" type="button" class="btn" />
					</div>
				</div>
				<div class="clear"></div>
				<span id="{i#bloading}" style="display: none">
					<img src="/images/loading.gif" class="ldg" /> Сохранение...
				</span>
			</div>
		</div>
	
	</div>
</div>

<!--{catsel}-->
<select id="{i#id}" class="catlist">
	{v#rows}
</select>

<!--{catselrow}-->
<option value="{v#id}">{v#tl}</option>

<!--{catselmyrow}-->
<option value="0">Мой персональный блог</option>

<!--{topicpreview}-->
<div class='hd'>Предварительный просмотр топика</div>
<div class='bd aw-blog'>
	<div class="preview">
		<div id="{i#widget}"></div>
	</div>
</div>

<!--{blog}-->
<div id="{i#id}" class="cateditor">
	
	<div id="{i#loading}" class="loading">
		<img src="/images/loading.gif" /> Идет загрузка данных <br /> Пожалуйста, подождите...
	</div>
	
	<div id="{i#view}" class="editform {v#cledst}">
	
		<div class="group">
	
			<h3 class="edstnew">Создание нового блога</h3>
			<h3 class="edstedit">Редактирование блога</h3>

			<div class="fieldline">
				<p>
					Название блога:
				</p>
				
				<input id="{i#title}" type="text" class="fldtitle" />
				<div class="dsc">Название должно быть кратким и отражать содержание</div>
			</div>

			<div id="{i#fldname}" class="fieldline">
				<p>
					Имя блога:
				</p>
				
				<input id="{i#name}" type="text" class="fldtitle" />
				<div class="dsc">Имя блога используется в формировании URL (допустимы символы [a-z],[0-9],[_-])</div>
			</div>
			
			<div class="fieldline">
				<p>
					Описание блога:
				</p>
				<textarea id="{i#text}" class="fldtext" style="width: 670px; height: 250px;"></textarea>
			</div>
		
			<div id="{i#repblock}" class="fieldline" style="display: none">
				<p>
					Ограничение по репутации:
				</p>
				<input id="{i#rep}" type="text" class="fldrep" value="0"/>
				<div class="dsc">Необходимое количество репутации, чтобы написать в этот блог</div>
			</div>
		</div>
		
		<div class="group">
			<div class="baction">
				<span id="{i#btnsblock}">
					<input id="{i#bcreate}" value="Создать" type="button" class="btn edstnew" />
					<input id="{i#bsave}" value="Сохранить изменения" type="button" class="btn edstedit" />
					<input id="{i#bcancel}" value="Отмена" type="button" class="btn" />
				</span>
				<span id="{i#bloading}" style="display: none">
					<img src="/images/loading.gif" class="ldg" /> Сохранение...
				</span>
			</div>
		</div>
	
	</div>
</div>
