<!--{panel}-->
<div class='hd'>Блог</div>
<div class='bd aw-blog'>
	<div id="{i#widget}"></div>
</div>

<!--{widget}-->
<div id="{i#id}" class="wspace">
	<div id="{i#gmenu}">
	
		<div class="gheadermenu">
			<h2>Блог</h2>
			
			<a href="{v#urlhome}" class="logo">
				<img src="/modules/blog/images/logo-96x96.png" />
			</a>
			
			<div class="topmenublock">
				<ul class="topmenu topmenul">
					<li id="{i#mtopics}"><a href="{v#urltopics}" class="sel" title="">Топики</a></li>
					<li id="{i#mcats}"><a href="{v#urlcats}" title="">Блоги</a></li>
					<li id="{i#mauthors}"><a href="{v#urlauthors}" title="">Авторы</a></li>
				</ul>
				<div class="clear"></div>
	
				<ul class="topmenu topmenur">
					<li id="{i#mwrite}" style="display: none"><a href="{v#urlwrite}" title="Написать в блог">Написать</a></li>
				</ul>
				<div class="clear"></div>
			</div>
			
		</div>
	</div>
	
	<table class="wspacetable"><tbody><tr>
		<td class="wscol-content">

			<div class="gbmenu">
				<div id="{i#mttopics}" class="gbitems" style="display: none;">
					<a id="{i#itopicsall}" class="gbitem" href="{v#urltopics}">Все</a>
					<a id="{i#itopicspub}" class="gbitem" href="{v#urltopicspub}">Коллективные</a>
					<a id="{i#itopicspers}" class="gbitem" href="{v#urltopicspers}">Персональные</a>
				</div>

				<div id="{i#mtwrite}" class="gbitems" style="display: none;">
					<a id="{i#iwritetopic}" class="gbitem" href="{v#urlwritetopic}">Топик</a>
					<a id="{i#iwritecategory}" class="gbitem" href="{v#urlwritecategory}">Создать блог</a>
					<a id="{i#iwritedraftlist}" class="gbitem r" href="{v#urlwritedraftlist}">Черновики</a>
				</div>

				<br class="clear" />
				<div class="line"></div>
			</div>
		
			<div id="{i#loading}" class="ws-loading">
				<img src="/images/loading.gif" /> Идет загрузка данных <br />Пожалуйста, подождите...
			</div>
			<div id="{i#board}" class="board" style="display: none"></div>
			
		</td>
		<td class="wscol-right">
			<div id="{i#cmtlive}"></div>
			<div id="{i#toplist}"></div>
			<div id="{i#taglist}"></div>
			<div id="{i#catlist}"></div>
		</td>	
	</tr></tbody></table>
</div>

<!--{page}--><div id="{i#id}" class='wspage'></div>

<!--{home}--><div id="{i#id}" class='wspage'>Добпро пожаловать</div>

<!--{accessdenied}--><div id="{i#id}" class='wspage'>
	<div class="ws-loading">
		Доступ запрещен <br />
		У вас недостаточно прав, или необходимо зарегистрироваться.
	</div>
</div>
