<!--[*]
[tt=main][/tt]

[script]unsubscribe.php[/script]

[bkvar=unsetall]
	Вы успешно отписаны от всех рассылок
[/bkvar]

[bkvar=unsetblog]
	Вы успешно отписаны от блога «{v#blog}»
[/bkvar]

[bkvar=errid]
	Ошибка: неверный запрос
[/bkvar]

[bkvar=result][/bkvar]

[*]-->
<h3>Отписка от рассылки блога</h3>
<p>
	[bkvar]result[/bkvar]
</p>