<!--[*]
[script]brick_authorview.php[/script]

[mcss=blog]blog.css[/mcss]

[mod=blog]topiclist[/mod]

[*]-->
<div class="aw-blog"><div class="authorview">
	<div class="author aw-uprofile">

		<a href="{v#urlusr}" class="avtr tmb tmb90 show-user-profile user-{v#uid}">
			<span class="tmbpre">{v#avatar}</span>
		</a>
		
		<a href="{v#urlusr}" class="username show-user-profile user-{v#uid}">{v#unm}</a>
		
		<div class="stat">
			<span>топиков: {v#topics}</span>
		</div>
		<div class="clear"></div>
	</div>
	
	[mod]blog:topiclist[/mod]
	
</div></div>
