<!--[*]
[script]brick_catview.php[/script]

[mcss=blog]blog.css[/mcss]

[mod=blog]topiclist[/mod]

[*]-->
<div class="aw-blog">
	<div class="catview">
	
		<div class="catrtg">{v#voting}</div>
		<h2 class="cattl">{v#tl}</h2>
		
		<div class="catinfo">
			<div class="stat">
				<span>читателей: <span>{v#mbrs}</span></span>,&nbsp;<span>топиков: <span>{v#topics}</span></span>
			</div>
			<div id="{i#jbtns}" class="jbtns" style="display: none">
				<a id="{i#bedit}" href="{v#urledit}" class="habtn" title="Редактировать" style="display: none">Редактировать</a>
				<a id="{i#bremove}" href="{v#urlremove}" class="habtn warn" title="Удалить" style="display: none">Удалить</a>
				<span id="{i#jbtnsa}">
					<a id="{i#bjoin}" href="#" class="habtn" title="Стать читателем блога">Вступить в блог</a>
					<a id="{i#bleave}" href="#" class="habtn" title="Перестать читать блог">Покинуть блог</a>
				</span>
				<img id="{i#jbloading}" src="/images/loading.gif" style="display: none" />
			</div>
		</div>
		
	<div class="homelist">
		<ul class="submenu">
			<li class="{v#f1sel}">
				<a href="/blog/{v#catname}/">Интересные</a>
			</li>
			<li class="{v#f2sel}">
				<a href="/blog/{v#catname}/new/">Новые</a><a href="/blog/{v#catname}/new/" class="new">{v#newcnt}</a>
			</li>
			<li class="clear">&nbsp;</li>
		</ul>
		<div class="clear"></div>
	</div>

		
	</div>
</div>

{v#votejsman}

[mod]blog:topiclist[/mod]
