<!--[*]
[script]brick_commentlive.php[/script]
[mcss=blog]blog.css[/mcss]

[bkvar=row]
	<li>
		<a href="{v#urlusr}" class="user show-user-profile user-{v#uid}" title="{v#unm}">{v#login}</a><a href="{v#urlcat}" class="category">{v#cattl}</a>&nbsp;→&nbsp;<a href="{v#urlcmt}" class="topic">{v#toptl}</a><a href="{v#urlcmt}#comments" class="comments">({v#cmtcnt})</a>
	</li>
[/bkvar]

[*]-->
<div class="aw-blog box" id="aw-blog-brick-commentlive">
	<div class="commentlivebox blockbox">
		<div class="boxtl">
			<a href="/blog/" title="Весь эфир">Прямой эфир</a>
		</div>
		
		<div class="list">
			<ul>{v#rows}</ul>
		</div>
	</div>
</div>
