<!--[*]
[script]brick_lasttopic.php[/script]
[mcss=blog]blog.css[/mcss]

[bkvar=row]
	<li>
		<a href="{v#urlcat}" class="category">{v#cattl}</a>
		&nbsp;→&nbsp; 
		<a href="{v#urltop}" class="topic">{v#toptl}</a>
	</li>
[/bkvar]

[bkvar=rss]
	<span class="rssicon">
		<a href='/rss/blog/' title='{#brick.lasttopic.1}'>
			<img src='/modules/rss/images/rss-icon-16px-op50.gif' />
		</a>
	</span>
[/bkvar]

[*]-->
<div class="aw-blog box" id="aw-blog-brick-lasttopic">
	<div class="topiclistbox blockbox">
		<div class="boxtl">
			<a href="/blog/" title="Записи в блоге">Записи в блоге {v#rss}</a>
		</div>
		
		<div class="list">
			<ul>{v#rows}</ul>
		</div>
	</div>
</div>