<!--[*]
[mcss=blog]blog.css[/mcss]

[script]brick_taglist.php[/script]

[p=limit]35[/p]

[bkvar=row]
	<li>
		<a href="{v#urltag}" class="tag sz-{v#sz}">{v#tagtl}</a>
	</li>
[/bkvar]

[*]-->
<div class="aw-blog box" id="aw-blog-brick-tagblock">
	<div class="taglistbox blockbox">
		<div class="boxtl">
			<a href="/blog/tag/">Теги</a>
		</div>
	
		<div class="list">
			<ul id="{i#list}">{v#rows}</ul>
		</div>
	</div>
</div>
