<!--[*]
[mcss=blog]blog.css[/mcss]

[script]brick_taglist.php[/script]

[p=limit]200[/p]

[bkvar=row]
	<li>
		<a href="{v#urltag}" class="tag sz-{v#sz}">{v#tagtl}</a>
	</li>
[/bkvar]

[*]-->
<div class="aw-blog" id="aw-blog-brick-taglist">
	<div class="taglistbox">
		<h2 class="tagtl">Теги</h2>
	
		<div class="list">
			<ul id="{i#list}">{v#rows}</ul>
		</div>
	</div>
</div>
