<!--[*]
[script]brick_tagview.php[/script]

[mcss=blog]blog.css[/mcss]

[mod=blog]topiclist[/mod]

[*]-->
<div class="aw-blog">

	<div class="tagview">
		<h2 class="tagtl">{v#tag}</h2>
		
		<input class="taginput" type="text" onfocus="this.select();" value="{v#tag}" style="display:none"/>
	</div>
	
</div>

[mod]blog:topiclist[/mod]
