<!--[*]
[script]brick_topiclist.php[/script]

[mcss=blog]blog.css[/mcss]

[bkvar=readmore]
	<div class="readmore">
		<a href="{v#urltop}">Читать дальше → </a>
	</div>
[/bkvar]

[bkvar=tagrow]
	<li><a href="{v#url}">{v#tl}</a></li>
[/bkvar]

[bkvar=tagdel]
	<li>, </li>
[/bkvar]

[bkvar=row]
	<div class="topic">
		<div class="title">
			<a href="{v#urlcat}" class="cattl">{v#cattl}</a>
			&nbsp;→&nbsp;
			<a href="{v#urltop}" class="toptl">{v#toptl}</a>
		</div>
		
		<div class="aw-page-content">
			<div class="intro">{v#intro}</div>
		</div>
		
		{v#readmore}
	
		<div class="taglist">
			<ul>{v#taglist}</ul>
			<div class="clear"></div>
		</div>
		
		<div class="topicinfo">
			<div class="tpinbox">
				<div class="topicvote">{v#voting}</div>
				<div class="user">
					<a href="#" class="avtr tmb tmb24 show-user-profile user-{v#uid}">
						<span class="tmbpre">
							{v#avatar}
						</span>
					</a>
					<a title="автор текста" class="unm show-user-profile user-{v#uid}" href="{v#urlusr}">{v#unm}</a>
				</div>
				<div class="date">{v#date}</div>
				<div class="comments" >
					<a href="{v#urltop}" title="Читать комментарии">({v#cmtcnt})</a>
				</div>
				<div class="socialist">{v#socialist}</div>
			</div>
			<div class="clear"></div>
		</div>
	</div>
[/bkvar]

[*]-->
<div class="aw-blog">
	<div class="topiclist">
		{v#rows}
	</div>
</div>

{v#votejsman}

[mod]sitemap:paginator[/mod]