<!--[*]
[script]brick_topicview.php[/script]

[mcss=blog]blog.css[/mcss]

[bkvar=tagrow]
	<li><a href="{v#url}">{v#tl}</a></li>
[/bkvar]

[bkvar=tagdel]
	<li>, </li>
[/bkvar]

[mod=comment]page|voting=true[/mod]

[*]-->
<div class="aw-blog"><div class="topicview">
		
	<div class="topic">
		<div class="title">
			<a href="{v#urlcat}" class="cattl">{v#cattl}</a>
			&nbsp;→&nbsp;
			<a href="{v#urltop}" class="toptl">{v#toptl}</a>
		</div>
		
		<div class="aw-page-content">
			<div class="intro">{v#intro}</div>
			<div class="body">{v#body}</div>
		</div>
		
		<div class="taglist">
			<ul>{v#taglist}</ul>
			<div class="clear"></div>
		</div>
		
		<div class="topicinfo">
			<div class="tpinbox">
				<div class="topicvote">{v#voting}</div>
				<div class="user">
					<a href="#" class="avtr tmb tmb24 show-user-profile user-{v#uid}">
						<span class="tmbpre">
							{v#avatar}
						</span>
					</a>
					<a title="автор текста" class="unm show-user-profile user-{v#uid}" href="#">{v#unm}</a>
				</div>
				<div class="date">{v#date}</div>
				<div class="socialist">{v#socialist}</div>
			</div>
			<div class="clear"></div>
		</div>
	</div>
		
</div></div>

{v#votejsman}

[mod]comment:page[/mod]


